<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Wubba Lubba Dub-Duel!: Iniciar sesión</title>
    <link rel="icon" href="resources/img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body class="body-index">

    <nav>
        <a href="/index" class="logo"><img src="resources/img/logo.gif" alt="Wubba Lubba Dub-Duel logo"></a>
        <a href="/cards">Cartas</a>
        <a href="/login">Iniciar sesión</a>
        <div class="music-control">
            <button id="toggleMusic">🔇</button>
            <audio id="backgroundMusic" loop>
                <source src="resources/audio/main_theme.weba" type="audio/mpeg">
                Tu navegador no soporta audio HTML5.
            </audio>
        </div>
    </nav>
    <main>
        <section class="album">
            <h2>Todas las Cartas</h2>
            <div class="card-container" id="cards-container">

            </div>
        </section>

    </main>

    <footer>
        ©2025 Cybercode Creations. Wubba Lubba Dub-Duel!. ©2013–2025 Adult Swim. TM, ®Adult Swim.
    </footer>


    <!-- MODAL -->
    <div class="modal" id="modal" onclick="closeModal(event)">
        <div class="modal-content" id="modalContent"></div>
        <span class="close" onclick="closeModal(event)">×</span>
    </div>
    <!-- RESOURCES -->
    <audio id="portalSound" src="resources/audio/portal_sound.weba" preload="auto"></audio>
    <!-- SCRIPTS -->
    <script src="js/comun.js"></script>
    <script src="js/cards.js"></script>
</body>

</html>