<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Wubba Lubba Dub-Duel!: Iniciar sesión</title>
    <link rel="icon" href="resources/img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body class="body-index">

    <nav>
        <a href="/index" class="logo"><img src="resources/img/logo.gif" alt="Wubba Lubba Dub-Duel logo"></a>
        <a href="#cartas">Cartas</a>
        <a href="/login">Iniciar sesión</a>
        <div class="music-control">
            <button id="toggleMusic">🔇</button>
            <audio id="backgroundMusic" loop>
                <source src="resources/audio/main_theme.weba" type="audio/mpeg">
                Tu navegador no soporta audio HTML5.
            </audio>
        </div>
    </nav>
    <main>
        <section id="login" class="registro-seccion">
            <h2>Iniciar sesión</h2>
            <div class="contenedor-formulario">
                <form id="formularioLogin" action="#" method="post" class="tarjeta-formulario">
                    <p id="errorGeneral" class="error-formulario"></p>

                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" name="usuario" placeholder="Introduce tu usuario aquí" required />

                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" name="contrasena" placeholder="Introduce tu contraseña aquí"
                        required />

                    <input type="submit" class="play-button" id="btnIniciarSesion" name="IniciarSesion"
                        value="Iniciar sesión" onclick="comprobarCamposLogin()" />
                </form>
                <p class="nota-formulario">¿A qué esperas, Morty? <br />
                    ¡<a href="/register" style="color: #00ff88;">Regístrarte</a> y empieza tu duelo interdimensional ya
                    mismo! 
                </p>
            </div>
        </section>
    </main>

    <footer>
        ©2025 Cybercode Creations. Wubba Lubba Dub-Duel!. ©2013–2025 Adult Swim. TM, ®Adult Swim.
    </footer>



    <!-- RESOURCES -->
    <audio id="portalSound" src="resources/audio/portal_sound.weba" preload="auto"></audio>
    <!-- SCRIPTS -->
    <script src="js/comun.js"></script>
    <script src="js/login.js"></script>
</body>

</html>