<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Wubba Lubba Dub-Duel!: Apertura</title>
    <link rel="icon" href="resources/img/logo.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>

<body class="body-index no-scroll">

    <nav>
        <a href="/index" class="logo"><img src="resources/img/portal.gif" alt="Wubba Lubba Dub-Duel logo"></a>
        <a href="/cards">Dubdex</a>
        <a href="/shop">Dub-Market</a>
        <a href="/social">Social</a>
        <a href="/login " id="login-link"></a>
        <div class="music-control">
            <button id="toggleMusic"></button>
            <audio id="backgroundMusic" loop>
                <source src="resources/audio/main_theme.weba" type="audio/mpeg">
                Tu navegador no soporta audio HTML5.
            </audio>
        </div>
    </nav>

    <main>
        <section>
            <img id="pack" src="resources/img/portal.gif" alt="Sobre de Cartas" class="pack-image">
            <div id="cards-container-pack"></div>
            <div id="return-button-container" class="play-button-container hidden" >
                <a href="/shop" class="play-button">← Volver al Dub-Market</a>
            </div>
        </section>
    </main>

    <footer class="fixed-footer">
        ©2025 Cybercode Creations. Wubba Lubba Dub-Duel!.
    </footer>

    <!-- MODAL RECOMPENSA-->
    <div id="dailyRewardModal" class="daily-modal">
        <div class="daily-modal-content">
            <span id="closeDailyModal" class="daily-close">&times;</span>
            <h2 class="daily-title">¡Wubba Lubba Dub-Dub!</h2>
            <p class="daily-message">
                ¡Felicidades, <strong>morty!</strong> Has desbloqueado tu recompensa diaria de <strong>200</strong>
                <img src="resources/img/ticket.webp" alt="ticket"
                    style="vertical-align:middle; width:24px; height:auto;" />
                tickets para el Blitz &amp; Chitz, el mejor arcade de toda la galaxia!
            </p>
            <button id="claimDailyRewardBtn" class="btn claim-btn">
                ¡Atrapa esos tickets, Morty!
            </button>
            <p class="daily-submessage" style="font-style: italic; font-size: 0.9em; color:#0ff;">
                (¡No te duermas en los laureles o Rick te va a regañar!)
            </p>
        </div>
    </div>
    <!-- LOADING MODAL -->
    <div id="loadingModal" class="loading-modal">
        <div class="loading-content">
            <h2 class="pixel-font-dark">Cargando Sobre...</h2>
            <div class="progress-bar">
                <div class="progress-fill"></div>
            </div>
            <img src="resources/img/portal.gif" alt="Portal animado" class="loading-portal">
            <p id="loadingMessage"></p>
        </div>
    </div>
    <!-- MODAL -->
    <div class="modal" id="modal" onclick="closeModal(event)">
        <div class="modal-content" id="modalContent"></div>
        <span class="close" onclick="closeModal(event)">×</span>
    </div>
    <!-- TOKENS USUARIO-->
    <div id="userTokens" class="user-tokens">
        <a href="/addtokens" class="tokens-link"><span id="tokensCount">0</span><img src="resources/img/ticket.webp"
                alt="ticket" /></a>
    </div>
    <!-- CANVAS -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <!-- RESOURCES -->
    <audio id="portalSound" src="resources/audio/portal_sound.mp3" preload="auto"></audio>
    <audio id="confettiSound" src="resources/audio/confetti.wav" preload="auto"></audio>
    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    <script src="js/comun.js"></script>
    <script src="js/openpack.js"></script>
</body>

</html>