<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Wubba Lubba Dub-Duel!</title>
  <link rel="icon" href="resources/img/logo.png" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body class="body-index">

  <nav>
    <a href="/index" class="logo"><img src="resources/img/portal.gif" alt="Wubba Lubba Dub-Duel logo"></a>
    <a href="/cards">Dubdex</a>
    <a href="/shop">Dub-Market</a>
    <a href="/social">Social</a>
    <a href="/login " id="login-link"></a>
    <div class="music-control">
      <button id="toggleMusic">🔇</button>
      <audio id="backgroundMusic" loop>
        <source src="resources/audio/main_theme.weba" type="audio/mpeg">
        Tu navegador no soporta audio HTML5.
      </audio>
    </div>
  </nav>

  <main>
    <section>

    </section>

  </main>

  <footer>
    ©2025 Cybercode Creations. Wubba Lubba Dub-Duel!.
  </footer>


  <!-- TOKENS USUARIO-->
  <div id="userTokens" class="user-tokens">
    <a href="/addtokens" class="tokens-link"><span id="tokensCount">0</span><img src="resources/img/ticket.webp"
        alt="ticket" /></a>
  </div>
  <!-- RESOURCES -->
  <audio id="portalSound" preload="auto">
    <source src="resources/audio/portal_sound.mp3" type="audio/mpeg">
    Tu navegador no soporta audio HTML5.
  </audio>
  <!-- SCRIPTS -->
  <script src="js/comun.js"></script>
  <script src="js/index.js"></script>
</body>

</html>