<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Wubba Lubba Dub-Duel!: Tienda</title>
    <link rel="icon" href="resources/img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body class="body-index no-scroll">

    <nav>
        <a href="/index" class="logo"><img src="resources/img/portal.gif" alt="Wubba Lubba Dub-Duel logo"></a>
        <a href="/cards">Dubdex</a>
        <a href="/shop">Dub-Market</a>
        <a href="/social">Social</a>
        <a href="/login " id="login-link"></a>
        <div class="music-control">
            <button id="toggleMusic">🔇</button>
            <audio id="backgroundMusic" loop>
                <source src="resources/audio/main_theme.weba" type="audio/mpeg">
                Tu navegador no soporta audio HTML5.
            </audio>
        </div>
    </nav>

    <main>
        <section class="shop-section">
            <h1 class="shop-title">¡Bienvenido al <span class="dub-glow">Dub-Market</span>!</h1>

            <div class="booster-grid">
                <div class="booster-card">
                    <img src="resources/img/sobre3.png" alt="Sobre Normal" class="booster-image">
                    <div class="booster-description">
                        <h2>Sobre<br />Normal</h2>
                        <button class="play-button" data-pack="NORMAL">100 <img src="resources/img/ticket.webp"
                                alt="ticket" /></button>
                        <button class="ratios-button" data-pack="NORMAL">Ver ratios</button>
                    </div>
                </div>

                <div class="booster-card">
                    <img src="resources/img/sobre1.png" alt="Sobre Raro" class="booster-image">
                    <div class="booster-description">
                        <h2>Sobre<br />Raro</h2>
                        <button class="play-button" data-pack="RARE">250 <img src="resources/img/ticket.webp"
                                alt="ticket" /></button>
                        <button class="ratios-button" data-pack="RARE">Ver ratios</button>
                    </div>
                </div>

                <div class="booster-card">
                    <img src="resources/img/sobre2.png" alt="Sobre Épico" class="booster-image">
                    <div class="booster-description">
                        <h2>Sobre<br />Épico</h2>
                        <button class="play-button" data-pack="EPIC">500 <img src="resources/img/ticket.webp"
                                alt="ticket" /></button>
                        <button class="ratios-button" data-pack="EPIC">Ver ratios</button>
                    </div>
                </div>

                <div class="booster-card">
                    <img src="resources/img/sobre4.png" alt="Sobre Legendario" class="booster-image">
                    <div class="booster-description">
                        <h2>Sobre<br />Legendario</h2>
                        <button class="play-button" data-pack="LEGENDARY">1000 <img src="resources/img/ticket.webp"
                                alt="ticket" /></button>
                        <button class="ratios-button" data-pack="LEGENDARY">Ver ratios</button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="fixed-footer">
        ©2025 Cybercode Creations. Wubba Lubba Dub-Duel!.
    </footer>

    <!-- MODAL RATIOS -->
    <div id="ratiosModal" class="ratios-modal">
        <div class="ratios-content">
            <span class="close-modal" onclick="closeRatiosModal()">&times;</span>
            <h2 id="modalTitle">Ratios de aparición</h2>
            <ul id="ratiosList" class="ratios-list"></ul>
        </div>
    </div>
    <!-- TOKENS USUARIO-->
    <div id="userTokens" class="user-tokens">
        <a href="/addtokens" class="tokens-link"><span id="tokensCount">0</span><img src="resources/img/ticket.webp"
                alt="ticket" /></a>
    </div>
    <!-- RESOURCES -->
    <audio id="portalSound" src="resources/audio/portal_sound.mp3" preload="auto"></audio>
    <!-- SCRIPTS -->
    <script src="js/comun.js"></script>
    <script src="js/shop.js"></script>
</body>

</html>